<input
  [formControl]="control"
  [type]="type"
  [placeholder]="placeholder"
  [id]="id"
  class="form-control form-control-lg text-center"
/>
<ng-container *ngIf="control.touched && control.dirty">
    <p
      *ngIf="control.errors?.['required']"
      class="text-danger text-center"
    >
      Field is required.
    </p>
    <p
      *ngIf="control.errors?.['minlength']"
      class="text-danger text-center"
    >
      The value you inputed was
      {{control.errors?.['minlength']['actualLength']}}
      characters long. The value must between 3 and 15 characters long.
    </p>
    <p
      *ngIf="control.errors?.['maxlength']"
      class="text-danger text-center"
    >
      The value you inputed was
      {{control.errors?.['maxlength']['actualLength']}}
      characters long. The value must between 3 and 15 characters long.
    </p>
    <p
      *ngIf="control.errors?.['pattern']"
      class="text-danger text-center"
    >
      The phone number you inputed was invalid
    </p>
    <p
      *ngIf="control.errors?.['min']"
      class="text-danger text-center"
    >
      The value you inputed was too small. The value must between 1 and 10.
    </p>
    <p
      *ngIf="control.errors?.['max']"
      class="text-danger text-center"
    >
      The value you inputed was too big. The value must between 1 and 10.
    </p>
    <p
      *ngIf="control.errors?.['email']"
      class="text-danger text-center"
    >
      Invalid email address.
    </p>
</ng-container>
